body {
  background-color: rgb(235, 231, 213);

}

h1, h2, h3, h4 {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 102, 204);
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  color: rgb(51, 51, 51);
  line-height: 1.6;
}

#pageTitle {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  color: rgb(0, 102, 204);
}

.verbs{
  text-decoration: underline;
  font-weight: bold;
}

.outcome_blocks {
  display: inline-block;
  width: 45%;
  align-self:center;
  text-align:left;
  background-color: lightskyblue;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  border: 0.25em solid gold;
  padding:  1em;
}

a:hover{
  color: #FFFFFF;
}