body {
  background-color: rgb(235, 231, 213);

}

h1, h2, h3, h4 {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  color: rgb(0, 102, 204);
}